In [1]:
import pandas as pd
from datetime import datetime

In [2]:
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S")

In [3]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [4]:
newDf = pd.DataFrame(data = df['Category 1' or 'Category 2'].unique()).dropna()

In [5]:
columns = ['id', 'createdDate', 'updatedDate', 'statusId', 'image', 'color', 'order', 'internalNote']

In [6]:
newDf = pd.concat([newDf, pd.DataFrame(columns = columns)])

In [7]:
newDf.rename(columns = {0:'name'}, inplace = True)

In [8]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['order'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['createdDate'] = dt_string
newDf['updatedDate'] = dt_string
newDf['statusId'] = 7
newDf['color'] = ['text-orange', 'text-purple', 'text-greenGrass', 'text-gold']
newDf['image'] = ['fa-fire', 'fa-bus', 'fa-hotel', 'fa-sim-card']
newDf['mapIcon'] = ['pins/fire.svg', 'pins/bike.svg', 'pins/sight.svg', 'pins/sim.svg']
newDf['name'] = ['adventures', 'transport', 'museums_and_sights', 'wifi_and_sim']

In [9]:
newDf

,name,id,createdDate,updatedDate,statusId,image,color,order,internalNote,mapIcon
0,adventures,1,2023-06-25 16:19:09,2023-06-25 16:19:09,7,fa-fire,text-orange,1,NaN,pins/fire.svg
1,transport,2,2023-06-25 16:19:09,2023-06-25 16:19:09,7,fa-bus,text-purple,2,NaN,pins/bike.svg
2,museums_and_sights,3,2023-06-25 16:19:09,2023-06-25 16:19:09,7,fa-hotel,text-greenGrass,3,NaN,pins/sight.svg
3,wifi_and_sim,4,2023-06-25 16:19:09,2023-06-25 16:19:09,7,fa-sim-card,text-gold,4,NaN,pins/sim.svg

In [10]:
newDf.to_csv('out/category.csv', index=False, encoding='utf-8')