In [60]:
import pandas as pd
from datetime import datetime

In [78]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [62]:
df.head(1)

,ID,Category 1,Category 2,Name,Country,Region 1,Region 2,Description,Price 1,Curr1,...,Review 4,Number Review 5,Review 5,Rating 1,Rating 2,Rating 3,Rating 4,Rating 5,Coordinates,E-Tickets
0,1,Adventures,NaN,Tangkuban Perahu Volcano,Indonesia,Java,NaN,"If you're an adventure seeker, this trip will ...",350000,IDR,...,It was my first time ever to see an active vol...,1_5,"The place is wonderful, but the staff and guid...",3.0,5.0,5.0,5.0,3.0,"-6.728930958268697, 107.61257856864886",NaN

In [63]:
df['Category 1' or 'Category 2'].unique()

array(['Adventures', 'Transport', 'Museums & Sights', nan, 'WIFI & SIM'],
      dtype=object)

In [64]:
newDf = pd.DataFrame(data = df['Category 1' or 'Category 2'].unique())

In [65]:
columns = ['id', 'createdDate', 'updatedDate', 'statusId', 'image', 'color', 'order', 'searchVector', 'searchConfig', 'internalNote']

In [66]:
newDf = pd.concat([newDf, pd.DataFrame(columns = columns)])

In [67]:
newDf.rename(columns = {0:'name'}, inplace = True)

In [68]:
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S")

In [69]:
newDf['id'] = newDf.index + 1
newDf['order'] = newDf.index + 1
newDf['createdDate'] = dt_string
newDf['updatedDate'] = dt_string
newDf['statusId'] = 7
newDf['color'] = ['text-orange', 'text-purple', 'text-greenGrass', '', 'text-gold']
newDf['image'] = ['fa-fire', 'fa-bus', 'fa-hotel', '', 'fa-sim-card']

In [70]:
newDf = newDf.fillna('')

In [74]:
newDf = newDf[newDf['name'] != '']

In [76]:
newDf.to_csv('category.csv', index=False, encoding='utf-8')