In [130]:
import pandas as pd
from datetime import datetime

In [131]:
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S")

In [132]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [133]:
df['Category 1' or 'Category 2'].unique()

array(['Adventures', 'Transport', 'Museums & Sights', nan, 'WIFI & SIM'],
      dtype=object)

In [134]:
newDf = pd.DataFrame(data = df['Category 1' or 'Category 2'].unique()).dropna()

In [135]:
columns = ['id', 'createdDate', 'updatedDate', 'statusId', 'image', 'color', 'order', 'internalNote']

In [136]:
newDf = pd.concat([newDf, pd.DataFrame(columns = columns)])

In [137]:
newDf.rename(columns = {0:'name'}, inplace = True)

In [139]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['order'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['createdDate'] = dt_string
newDf['updatedDate'] = dt_string
newDf['statusId'] = 7
newDf['color'] = ['text-orange', 'text-purple', 'text-greenGrass', 'text-gold']
newDf['image'] = ['fa-fire', 'fa-bus', 'fa-hotel', 'fa-sim-card']

In [140]:
newDf

,name,id,createdDate,updatedDate,statusId,image,color,order,internalNote
0,Adventures,1,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-fire,text-orange,1,NaN
1,Transport,2,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-bus,text-purple,2,NaN
2,Museums & Sights,3,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-hotel,text-greenGrass,3,NaN
4,WIFI & SIM,4,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-sim-card,text-gold,4,NaN

In [141]:
newDf.to_csv('out/category.csv', index=False, encoding='utf-8')