In [23]:
import pandas as pd
from currency_symbols import CurrencySymbols

In [24]:
curOrigDf = pd.read_csv("csv/currencies.csv", encoding='utf-8')

In [25]:
curOrigDf.rename(columns = {'Currency code':'id', 'Currency name':'name', 'IsThousand': 'isThousands'}, inplace = True)

In [26]:
del curOrigDf['Country (Default)']

In [66]:
def add_symbol(value):
    return CurrencySymbols.get_symbol(value)

In [67]:
curOrigDf['isMain'] = False
curOrigDf['symbol'] = curOrigDf['id'].apply(add_symbol)
curOrigDf['decimalPlaces'] = 2
curOrigDf['symbolHasSpace'] = False
curOrigDf['symbolBeforeAmount'] = False

In [68]:
curOrigDf = curOrigDf[['id', 'name', 'isMain', 'isThousands', 'symbol', 'decimalPlaces', 'symbolHasSpace', 'symbolBeforeAmount']]

In [69]:
curOrigDf['isThousands'] = curOrigDf['isThousands'].replace(['N'],'False')
curOrigDf['isThousands'] = curOrigDf['isThousands'].replace(['Y'],'True')

In [74]:
curOrigDf.head(20)

,id,name,isMain,isThousands,symbol,decimalPlaces,symbolHasSpace,symbolBeforeAmount
0,AED,United Arab Emirates dirham,False,False,د.إ,2,False,False
1,ARS,Argentine peso,False,False,$,2,False,False
2,AUD,Australian dollar,False,False,$,2,False,False
3,BOB,Bolivian boliviano,False,False,$b,2,False,False
4,BRL,Brazilian real,False,False,R$,2,False,False
5,CAD,Canadian dollar,False,False,$,2,False,False
6,CLP,Chilean peso,False,False,$,2,False,False
7,COP,Colombian peso,False,True,$,2,False,False
8,CUC,Cuban Peso,False,False,$,2,False,False
9,DOP,Dominican peso,False,False,RD$,2,False,False
10,EGP,Egyptian pound,False,False,£,2,False,False
11,EUR,Euro,False,False,€,2,False,False
12,GBP,British pound,False,False,£,2,False,False
13,GTQ,Guatemalan quetzal,False,False,Q,2,False,False
14,IDR,Indonesian rupiah,False,True,Rp,2,False,False
15,ILS,Israeli new shekel,False,False,₪,2,False,False
16,INR,Indian rupee,False,False,₹,2,False,False
17,JMD,Jamaican dollar,False,False,J$,2,False,False
18,JOD,Jordanian dinar,False,False,JD,2,False,False
19,KHR,Cambodian riel,False,True,៛,2,False,False

In [75]:
curOrigDf.to_csv('currencies.csv', index=False, encoding='utf-8')