In [10]:
import pandas as pd

In [14]:
df = pd.read_csv('csv/localities.csv', encoding='utf-8')
curDf = pd.read_csv('out/currencies.csv', encoding='utf-8')
locDf = pd.read_csv('out/localities.csv', encoding='utf-8', delimiter=';')

In [15]:
df.head()

,ID,Continent,Country,Region,Photo name,Currency code,Currency name,IsThousand
0,1_1,South-East Asia,Indonesia,Bali,1_1_Trynego_Indonesia_Bali,IDR,Indonesian rupiah,Y
1,1_2,South-East Asia,Indonesia,Lombok,1_2_Trynego_Indonesia_Lombok,IDR,Indonesian rupiah,Y
2,1_3,South-East Asia,Indonesia,Gili Islands,1_3_Trynego_Indonesia_Gili Islands,IDR,Indonesian rupiah,Y
3,1_4,South-East Asia,Indonesia,Sumatra,1_4_Trynego_Indonesia_Sumatra,IDR,Indonesian rupiah,Y
4,1_5,South-East Asia,Indonesia,Java,1_5_Trynego_Indonesia_Java,IDR,Indonesian rupiah,Y

In [48]:
df.head()

,ID,Continent,Country,Region,Photo name,Currency code,Currency name,IsThousand
0,1_1,South-East Asia,Indonesia,Bali,1_1_Trynego_Indonesia_Bali,IDR,Indonesian rupiah,Y
1,1_2,South-East Asia,Indonesia,Lombok,1_2_Trynego_Indonesia_Lombok,IDR,Indonesian rupiah,Y
2,1_3,South-East Asia,Indonesia,Gili Islands,1_3_Trynego_Indonesia_Gili Islands,IDR,Indonesian rupiah,Y
3,1_4,South-East Asia,Indonesia,Sumatra,1_4_Trynego_Indonesia_Sumatra,IDR,Indonesian rupiah,Y
4,1_5,South-East Asia,Indonesia,Java,1_5_Trynego_Indonesia_Java,IDR,Indonesian rupiah,Y

In [30]:
tempDf = pd.DataFrame(columns=['localityId', 'currencyId'])

In [32]:
tempDf['localityId'] = locDf['id']

In [47]:
df[:][(df['Continent'] == locDf[:][locDf['id'] == 1]['name'].values[0])  
      | (df['Country'] == locDf[:][locDf['id'] == 1]['name'].values[0]) 
      | (df['Region'] == locDf[:][locDf['id'] == 1]['name'].values[0])]['Currency code'].values[0]

'IDR'

In [49]:
def get_currency_id(value):
    return df[:][(df['Continent'] == locDf[:][locDf['id'] == value]['name'].values[0])  
      | (df['Country'] == locDf[:][locDf['id'] == value]['name'].values[0]) 
      | (df['Region'] == locDf[:][locDf['id'] == value]['name'].values[0])]['Currency code'].values[0]

In [50]:
tempDf['currencyId'] = tempDf['localityId'].apply(get_currency_id)

In [52]:
tempDf.to_csv('out/locality_currencies.csv', index=False, encoding='utf-8')