In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [30]:
columns = ['id', 'label', 'latitude', 'longitude', 'number', 'street', 'city', 'region', 'country', 'postCode', \
           'contintent', 'raw_json']

In [31]:
newDf = pd.concat([df, pd.DataFrame(columns = columns)])

In [32]:
def get_lat(value):
    try:
        return value.split(',')[0][:-7].replace(" ", "")
    except:
        pass

In [33]:
def get_lot(value):
    try:
        return value.split(',')[1][:-7].replace(" ", "")
    except:
        pass

In [34]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['latitude'] = df['Coordinates'].apply(get_lat)
newDf['longitude'] = df['Coordinates'].apply(get_lot)
newDf['label'] = 'import_label'
newDf['CoordId'] = df['ID']

In [35]:
newDf = newDf.drop(['ID', 'Category 1', 'Category 2', 'Name', 'Country', 'Region 1', \
                   'Region 2', 'Description', 'Price 1', 'Review 2', \
                   'Curr1', 'Price 2', 'Curr2', 'Price 3', 'Curr3', \
                   'Price 4', 'Curr4', 'Price 5', 'Curr5', \
                    'Price 5', 'Curr5', 'Number Review 1', 'Review 1', 'Number Review 2', \
                    'Number Review 3', 'Review 3', 'Number Review 4', 'Review 4', 'Number Review 5', \
                    'Review 5', 'Rating 1', 'Rating 2', 'Rating 3', 'Rating 4', 'Rating 5', \
                    'Coordinates', 'E-Tickets', 'CoordId', 'Curr1 ID', 'Curr2 ID', 'Curr3 ID', 'Curr4 ID', \
                    'Curr5 ID'
                   ], axis = 1)

In [36]:
newDf.head()

,id,label,latitude,longitude,number,street,city,region,country,postCode,contintent,raw_json
0,1,import_label,-6.72893095,107.6125785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,import_label,-8.23959878,115.377216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [38]:
locator = Nominatim(user_agent='Trynego')

In [39]:
def set_address_details():
    for index, row in newDf.iterrows():
        try:
            coordinates = newDf.loc[index, ['latitude']]['latitude'], newDf.loc[index, ['longitude']]['longitude']
            location = locator.reverse(coordinates)
            newDf.loc[index, ['number']] = ''
            newDf.loc[index, ['street']] = ''
            try:
                newDf.loc[index, ['city']] = [location.raw['address']['city']]
            except:
                pass
            try:
                newDf.loc[index, ['city']] = [location.raw['address']['village']]
            except:
                pass
            try:
                newDf.loc[index, ['city']] = [location.raw['address']['man_made']]
            except:
                pass
            try:
                newDf.loc[index, ['city']] = [location.raw['address']['town']]
            except:
                pass
            try:
                newDf.loc[index, ['city']] = [location.raw['address']['municipality']]
            except:
                pass
            newDf.loc[index, ['region']] = [location.raw['address']['state']]
            newDf.loc[index, ['country']] = [location.raw['address']['country']]
            newDf.loc[index, ['postCode']] = [location.raw['address']['postcode']]
            newDf.loc[index, ['contintent']] = [location.raw['address']['contintent']]
        except:
            pass
        
set_address_details()

In [41]:
newDf = newDf[:][newDf['latitude'].notnull()]

In [43]:
newDf.to_csv('out/place.csv', index=False, encoding='utf-8')

In [42]:
newDf

,id,label,latitude,longitude,number,street,city,region,country,postCode,contintent,raw_json
0,1,import_label,-6.72893095,107.6125785,,,Sukamandi,Jawa Barat,Indonesia,41281,NaN,NaN
3,4,import_label,-8.23959878,115.377216,,,Toya Bungkah,Bali,Indonesia,NaN,NaN,NaN
5,6,import_label,-7.1661274,107.4021396,,,Alamendah,Jawa Barat,Indonesia,40973,NaN,NaN
9,10,import_label,-7.60225298,110.2039246,,,Wringinputih,Jawa Tengah,Indonesia,56553,NaN,NaN
10,11,import_label,-8.17166847,115.1862957,,,Bebetin,Bali,Indonesia,81171,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1677,import_label,32.3542657,77.1904847,,,Solang Valley,Himachal Pradesh,India,175103,NaN,NaN
1677,1678,import_label,21.1236294,70.8245284,,,NaN,Gujarat,India,NaN,NaN,NaN
1678,1679,import_label,21.83828726,73.7190191,,,NaN,Gujarat,India,NaN,NaN,NaN
1679,1680,import_label,21.83828726,73.7190191,,,NaN,Gujarat,India,NaN,NaN,NaN
1680,1681,import_label,23.02816248,72.572249,,,Ahmedabad,Gujarat,India,380043,NaN,NaN