In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [4]:
columns = ['id', 'label', 'latitude', 'longitude', 'number', 'street', 'city', 'region', 'country', 'postCode', \
           'contintent', 'raw_json']

In [5]:
newDf = pd.concat([df, pd.DataFrame(columns = columns)])

In [6]:
def get_lat(value):
    try:
        return value.split(',')[0][:-7].replace(" ", "")
    except:
        pass

In [7]:
def get_lot(value):
    try:
        return value.split(',')[1][:-7].replace(" ", "")
    except:
        pass

In [8]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['latitude'] = df['Coordinates'].apply(get_lat)
newDf['longitude'] = df['Coordinates'].apply(get_lot)
newDf['label'] = 'import_label'
newDf['CoordId'] = df['ID']

In [9]:
newDf = newDf.drop(['ID', 'Category 1', 'Category 2', 'Name', 'Country', 'Region 1', \
                   'Region 2', 'Description', 'Price 1', 'Review 2', \
                   'Curr1', 'Price 2', 'Curr2', 'Price 3', 'Curr3', \
                   'Price 4', 'Curr4', 'Price 5', 'Curr5', \
                    'Price 5', 'Curr5', 'Number Review 1', 'Review 1', 'Number Review 2', \
                    'Number Review 3', 'Review 3', 'Number Review 4', 'Review 4', 'Number Review 5', \
                    'Review 5', 'Rating 1', 'Rating 2', 'Rating 3', 'Rating 4', 'Rating 5', \
                    'Coordinates', 'E-Tickets', 'CoordId', 'Curr1 ID', 'Curr2 ID', 'Curr3 ID', 'Curr4 ID', \
                    'Curr5 ID'
                   ], axis = 1)

In [10]:
newDf.head()

,id,label,latitude,longitude,number,street,city,region,country,postCode,contintent,raw_json
0,1,import_label,-6.72893095,107.6125785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,import_label,-8.23959878,115.377216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [12]:
locator = Nominatim(user_agent='Trynego')

In [ ]:
def set_address_details():
    for index, row in newDf.iterrows():
        try:
            coordinates = newDf.loc[index, ['latitude']]['latitude'], newDf.loc[index, ['longitude']]['longitude']
            location = locator.reverse(coordinates)
            print(newDf.loc[index, ['id']], location.raw)
            newDf.loc[index, ['number']] = ''
            newDf.loc[index, ['street']] = ''
            newDf.loc[index, ['city']] = [location.raw['address']['city']] or [location.raw['address']['village']]
            newDf.loc[index, ['region']] = [location.raw['address']['state']]
            newDf.loc[index, ['country']] = [location.raw['address']['country']]
            newDf.loc[index, ['postCode']] = [location.raw['address']['postcode']]
            newDf.loc[index, ['contintent']] = [location.raw['address']['contintent']]
        except:
            pass
        
set_address_details()

id    1
Name: 0, dtype: object {'place_id': 12768126, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 1308684749, 'lat': '-6.7177474', 'lon': '107.6221628', 'display_name': 'Sukamandi, Jawa Barat, 41281, Indonesia', 'address': {'village': 'Sukamandi', 'state': 'Jawa Barat', 'ISO3166-2-lvl4': 'ID-JB', 'postcode': '41281', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-6.7377474', '-6.6977474', '107.6021628', '107.6421628']}
id    2
Name: 1, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    3
Name: 2, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    4
Name: 3, dtype: object {'place_id': 69623105, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 6474150887, 'lat': '-8.2390354', 'lon': '115.3784698', 'display_name': 'Mount Batur, Jalur Daki Batur, Toya Bungkah, Bangli, Bali, Indonesia', 'address': {'tourism': 'Mount Batur', 'road': 'Jalur Daki Batur', 'village': 'Toya Bungkah', 'county': 'Bangli', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.2390854', '-8.2389854', '115.3784198', '115.3785198']}
id    5
Name: 4, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    6
Name: 5, dtype: object {'place_id': 142633197, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 159212056, 'lat': '-7.16608475', 'lon': '107.40205710602595', 'display_name': 'Kawah Putih, Jalan ke G. Patuha, Alamendah, Jawa Barat, 40973, Indonesia', 'address': {'tourism': 'Kawah Putih', 'road': 'Jalan ke G. Patuha', 'village': 'Alamendah', 'state': 'Jawa Barat', 'ISO3166-2-lvl4': 'ID-JB', 'postcode': '40973', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-7.1673595', '-7.1647993', '107.4009005', '107.4041513']}
id    7
Name: 6, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    8
Name: 7, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    9
Name: 8, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    10
Name: 9, dtype: object {'place_id': 99433179, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 9802067779, 'lat': '-7.6021267', 'lon': '110.2039448', 'display_name': 'Masjid Hidayatullah, Jalan Salaman - Mungkid, Wringinputih, Magelang, Jawa Tengah, 56553, Indonesia', 'address': {'amenity': 'Masjid Hidayatullah', 'road': 'Jalan Salaman - Mungkid', 'village': 'Wringinputih', 'county': 'Magelang', 'state': 'Jawa Tengah', 'ISO3166-2-lvl4': 'ID-JT', 'postcode': '56553', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-7.6021767', '-7.6020767', '110.2038948', '110.2039948']}
id    11
Name: 10, dtype: object {'place_id': 224718082, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 560919912, 'lat': '-8.171670193747708', 'lon': '115.18630380418699', 'display_name': 'Bebetin, Buleleng, Bali, 81171, Indonesia', 'address': {'village': 'Bebetin', 'county': 'Buleleng', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '81171', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.1800019', '-8.0837518', '115.139521', '115.189345']}
id    12
Name: 11, dtype: object {'place_id': 60691756, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 5570539451, 'lat': '-8.5910666', 'lon': '115.2660589', 'display_name': "SnackSnack's, Jalan Jaga Raga, Celuk, Gianyar, Bali, 80511, Indonesia", 'address': {'amenity': "SnackSnack's", 'road': 'Jalan Jaga Raga', 'village': 'Celuk', 'county': 'Gianyar', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '80511', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.5911166', '-8.5910166', '115.2660089', '115.2661089']}
id    13
Name: 12, dtype: object {'place_id': 211363894, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 474491505, 'lat': '-8.5808653', 'lon': '115.34408541733077', 'display_name': 'Bali Safari & Marine Park, Profesor Ida Bagus Mantra Bypass, Lebih, Gianyar, Bali, 80716, Indonesia', 'address': {'tourism': 'Bali Safari & Marine Park', 'road': 'Profesor Ida Bagus Mantra Bypass', 'village': 'Lebih', 'county': 'Gianyar', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '80716', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.5848244', '-8.5769713', '115.3400141', '115.3491739']}
id    14
Name: 13, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    15
Name: 14, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    16
Name: 15, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    17
Name: 16, dtype: object {'place_id': 246218611, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 707659668, 'lat': '-8.82924075', 'lon': '115.08428695513373', 'display_name': 'Pura Luhur Uluwatu, Jalan Labuan Sait- Pecatu, Pecatu, Kuta Selatan, Badung, Bali, 80361, Indonesia', 'address': {'amenity': 'Pura Luhur Uluwatu', 'road': 'Jalan Labuan Sait- Pecatu', 'village': 'Pecatu', 'municipality': 'Kuta Selatan', 'county': 'Badung', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '80361', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.8293122', '-8.8291685', '115.0838752', '115.0845424']}
id    18
Name: 17, dtype: object {'place_id': 169110671, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 256164374, 'lat': '-8.5286356', 'lon': '115.5131373', 'display_name': 'Padangbai, Kecamatan Manggis, Karangasem, Bali, 80872, Indonesia', 'address': {'town': 'Padangbai', 'municipality': 'Kecamatan Manggis', 'county': 'Karangasem', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '80872', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.5298426', '-8.5281774', '115.5125157', '115.5131373']}

id    19
Name: 18, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    20
Name: 19, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    21
Name: 20, dtype: object {'place_id': 220129585, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 540610100, 'lat': '-8.39127665', 'lon': '115.63054866414572', 'display_name': 'Pura Penataran Agung Lempuyang, Temple Path Steps, Kecamatan Abang, Karangasem, Bali, 80811, Indonesia', 'address': {'tourism': 'Pura Penataran Agung Lempuyang', 'road': 'Temple Path Steps', 'municipality': 'Kecamatan Abang', 'county': 'Karangasem', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '80811', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.3918109', '-8.3909562', '115.6297079', '115.6315541']}
id    22
Name: 21, dtype: object {'place_id': 249335572, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 725922324, 'lat': '-8.673811124733115', 'lon': '115.55716156520317', 'display_name': 'Batununggul, Batununggal, Nusa Penida Subdistrict, Klungkung, Bali, Indonesia', 'address': {'village': 'Batununggul', 'city': 'Batununggal', 'municipality': 'Nusa Penida Subdistrict', 'county': 'Klungkung', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.6742904', '-8.6734956', '115.5571085', '115.5571965']}
id    23
Name: 22, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    24
Name: 23, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}
id    25
Name: 24, dtype: object {'place_id': 218799244, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 530220338, 'lat': '-8.674337213473684', 'lon': '115.44936953671828', 'display_name': 'Jungut Batu, Jungutbatu, Nusa Penida Subdistrict, Klungkung, Bali, 80372, Indonesia', 'address': {'village': 'Jungut Batu', 'city': 'Jungutbatu', 'municipality': 'Nusa Penida Subdistrict', 'county': 'Klungkung', 'state': 'Bali', 'ISO3166-2-lvl4': 'ID-BA', 'postcode': '80372', 'country': 'Indonesia', 'country_code': 'id'}, 'boundingbox': ['-8.6743546', '-8.6739324', '115.4490097', '115.4514492']}
id    26
Name: 25, dtype: object {'place_id': 45891253, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}

In [100]:
newDf[:][newDf['latitude'].notnull()]

,id,label,latitude,longitude,number,street,city,region,country,postCode,contintent,raw_json
0,1,import_label,-6.72893095,107.6125785,,,Sukamandi,Jawa Barat,Indonesia,41281,NaN,NaN
3,4,import_label,-8.23959878,115.377216,,,Toya Bungkah,Bali,Indonesia,NaN,NaN,NaN
5,6,import_label,-7.1661274,107.4021396,,,Alamendah,Jawa Barat,Indonesia,40973,NaN,NaN
9,10,import_label,-7.60225298,110.2039246,,,Wringinputih,Jawa Tengah,Indonesia,56553,NaN,NaN
10,11,import_label,-8.17166847,115.1862957,,,Bebetin,Bali,Indonesia,81171,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1677,import_label,32.3542657,77.1904847,,,Solang Valley,Himachal Pradesh,India,175103,NaN,NaN
1677,1678,import_label,21.1236294,70.8245284,,,NaN,NaN,NaN,NaN,NaN,NaN
1678,1679,import_label,21.83828726,73.7190191,,,NaN,NaN,NaN,NaN,NaN,NaN
1679,1680,import_label,21.83828726,73.7190191,,,NaN,NaN,NaN,NaN,NaN,NaN
1680,1681,import_label,23.02816248,72.572249,,,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
newDf.to_csv('out/place.csv', index=False, encoding='utf-8')