In [115]:
import pandas as pd

In [116]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [117]:
columns = ['id', 'label', 'latitude', 'longitude']

In [118]:
newDf = pd.concat([df, pd.DataFrame(columns = columns)])

In [119]:
def get_lat(value):
    try:
        return value.split(',')[0][:-7].replace(" ", "")
    except:
        pass

In [120]:
def get_lot(value):
    try:
        return value.split(',')[1][:-7].replace(" ", "")
    except:
        pass

In [122]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['latitude'] = df['Coordinates'].apply(get_lat)
newDf['longitude'] = df['Coordinates'].apply(get_lot)
newDf['label'] = 'import_label'
newDf['CoordId'] = df['ID']

In [112]:
newDf = newDf.drop(['ID', 'Category 1', 'Category 2', 'Name', 'Country', 'Region 1', \
                   'Region 2', 'Description', 'Price 1', 'Review 2', \
                   'Curr1', 'Price 2', 'Curr2', 'Price 3', 'Curr3', \
                   'Price 4', 'Curr4', 'Price 5', 'Curr5', \
                    'Price 5', 'Curr5', 'Number Review 1', 'Review 1', 'Number Review 2', \
                    'Number Review 3', 'Review 3', 'Number Review 4', 'Review 4', 'Number Review 5', \
                    'Review 5', 'Rating 1', 'Rating 2', 'Rating 3', 'Rating 4', 'Rating 5', \
                    'Coordinates', 'E-Tickets', 'CoordId', 'Curr1 ID', 'Curr2 ID', 'Curr3 ID', 'Curr4 ID', \
                    'Curr5 ID'
                   ], axis = 1)

In [113]:
newDf = newDf.dropna()

In [114]:
newDf

        id         label     latitude    longitude
0        1  import_label  -6.72893095  107.6125785
3        4  import_label  -8.23959878   115.377216
5        6  import_label   -7.1661274  107.4021396
9       10  import_label  -7.60225298  110.2039246
10      11  import_label  -8.17166847  115.1862957
...    ...           ...          ...          ...
1676  1677  import_label   32.3542657   77.1904847
1677  1678  import_label   21.1236294   70.8245284
1678  1679  import_label  21.83828726   73.7190191
1679  1680  import_label  21.83828726   73.7190191
1680  1681  import_label  23.02816248    72.572249

[1282 rows x 4 columns]

In [101]:
newDf.to_csv('out/place.csv', index=False, encoding='utf-8')