In [72]:
import pandas as pd

In [73]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')

In [74]:
columns = ['id', 'label', 'latitude', 'longitude', 'number', 'street', 'city', 'region', 'country', 'postCode', \
           'contintent', 'raw_json']

In [75]:
newDf = pd.concat([df, pd.DataFrame(columns = columns)])

In [76]:
def get_lat(value):
    try:
        return value.split(',')[0][:-7].replace(" ", "")
    except:
        pass

In [77]:
def get_lot(value):
    try:
        return value.split(',')[1][:-7].replace(" ", "")
    except:
        pass

In [78]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['latitude'] = df['Coordinates'].apply(get_lat)
newDf['longitude'] = df['Coordinates'].apply(get_lot)
newDf['label'] = 'import_label'
newDf['CoordId'] = df['ID']

In [79]:
newDf = newDf.drop(['ID', 'Category 1', 'Category 2', 'Name', 'Country', 'Region 1', \
                   'Region 2', 'Description', 'Price 1', 'Review 2', \
                   'Curr1', 'Price 2', 'Curr2', 'Price 3', 'Curr3', \
                   'Price 4', 'Curr4', 'Price 5', 'Curr5', \
                    'Price 5', 'Curr5', 'Number Review 1', 'Review 1', 'Number Review 2', \
                    'Number Review 3', 'Review 3', 'Number Review 4', 'Review 4', 'Number Review 5', \
                    'Review 5', 'Rating 1', 'Rating 2', 'Rating 3', 'Rating 4', 'Rating 5', \
                    'Coordinates', 'E-Tickets', 'CoordId', 'Curr1 ID', 'Curr2 ID', 'Curr3 ID', 'Curr4 ID', \
                    'Curr5 ID'
                   ], axis = 1)

In [80]:
newDf.head()

,id,label,latitude,longitude,number,street,city,region,country,postCode,contintent,raw_json
0,1,import_label,-6.72893095,107.6125785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,import_label,-8.23959878,115.377216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [82]:
locator = Nominatim(user_agent='Trynego')

In [ ]:
def set_address_details():
    for index, row in newDf.iterrows():
        try:
            coordinates = newDf.loc[index, ['latitude']]['latitude'], newDf.loc[index, ['longitude']]['longitude']
            location = locator.reverse(coordinates)
            newDf.loc[index, ['number']] = ''
            newDf.loc[index, ['street']] = ''
            newDf.loc[index, ['city']] = [location.raw['address']['village']] or ''
            newDf.loc[index, ['region']] = [location.raw['address']['state']] or ''
            newDf.loc[index, ['country']] = [location.raw['address']['country']] or ''
            newDf.loc[index, ['postCode']] = [location.raw['address']['postcode']] or ''
            newDf.loc[index, ['contintent']] = [location.raw['address']['contintent']] or ''
            newDf.loc[index, ['raw_json']] = [location.raw['address']]
        except:
            pass
        
set_address_details()

In [71]:
newDf

,id,label,latitude,longitude,number,street,city,region,country,postCode,contintent,raw_json
0,1,import_label,-6.72893095,107.6125785,,,Sukamandi,Jawa Barat,Indonesia,41281,NaN,NaN
1,2,import_label,None,None,,,NaN,NaN,NaN,NaN,NaN,NaN
2,3,import_label,None,None,,,NaN,NaN,NaN,NaN,NaN,NaN
3,4,import_label,-8.23959878,115.377216,,,Toya Bungkah,Bali,Indonesia,NaN,NaN,NaN
4,5,import_label,None,None,,,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1938,1939,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939,1940,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940,1941,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1941,1942,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1942,1943,import_label,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
newDf = newDf.dropna()

In [19]:
newDf.to_csv('out/place.csv', index=False, encoding='utf-8')