In [20]:
import pandas as pd
from currency_converter import CurrencyConverter
import numpy as np

In [21]:
df = pd.read_csv("csv/products.csv", encoding='utf-8')
curDf = pd.read_csv('out/currencies.csv')

In [22]:
df['Curr1 ID'] = df['ID'].astype(str) + '_1'
df['Curr2 ID'] = df['ID'].astype(str) + '_2'
df['Curr3 ID'] = df['ID'].astype(str) + '_3'
df['Curr4 ID'] = df['ID'].astype(str) + '_4'
df['Curr5 ID'] = df['ID'].astype(str) + '_5'

In [23]:
df1 = df[['Price 1', 'Curr1', 'Curr1 ID']]
df2 = df[['Price 2', 'Curr2', 'Curr2 ID']]
df3 = df[['Price 3', 'Curr3', 'Curr3 ID']]
df4 = df[['Price 4', 'Curr4', 'Curr4 ID']]
df5 = df[['Price 5', 'Curr5', 'Curr5 ID']]

In [24]:
df1 = df1.rename(columns={'Price 1' : 'Price', 'Curr1' : 'Curr', 'Curr1 ID' : 'ID'})
df2 = df2.rename(columns={'Price 2' : 'Price', 'Curr2' : 'Curr', 'Curr2 ID' : 'ID'})
df3 = df3.rename(columns={'Price 3' : 'Price', 'Curr3' : 'Curr', 'Curr3 ID' : 'ID'})
df4 = df4.rename(columns={'Price 4' : 'Price', 'Curr4' : 'Curr', 'Curr4 ID' : 'ID'})
df5 = df5.rename(columns={'Price 5' : 'Price', 'Curr5' : 'Curr', 'Curr5 ID' : 'ID'})

In [25]:
newDf = pd.concat([df1, df2, df3, df4, df5]).dropna()

In [26]:
columns = ['id', 'amountMainCurrency', 'mainCurrencyId']

In [27]:
newDf = pd.concat([newDf, pd.DataFrame(columns = columns)])

In [28]:
newDf.rename(columns = {'Price':'amount'}, inplace = True)
newDf.rename(columns = {'Curr':'currencyId'}, inplace = True)

In [29]:
c = CurrencyConverter()
def convert_currency(x, y):
    try:
        return c.convert(float(x), str(y), 'USD')
    except:
        return np.nan

In [30]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['amountMainCurrency'] = newDf['amount']
newDf['mainCurrencyId'] = 'USD'
newDf['ID'] = newDf['ID'].astype(str)
newDf['currencyId'] = newDf['currencyId'].str.upper()

In [31]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [32]:
newDf.to_csv('out/price.csv', index=False, encoding='utf-8')

In [33]:
copy = newDf.drop(['ID'], axis=1)

In [34]:
copy.to_csv('out/price1.csv', index=False, encoding='utf-8')

In [36]:
copy.shape

(8379, 5)

In [37]:
df.to_csv('csv/products.csv', index=False, encoding='utf-8')