In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("csv/products.csv", encoding='utf-8', delimiter=';')
curDf = pd.read_csv('out/currencies.csv')

In [34]:
df1 = df[['Price 1', 'Curr1', 'ID']]
df2 = df[['Price 2', 'Curr2', 'ID']]
df3 = df[['Price 3', 'Curr3', 'ID']]
df4 = df[['Price 4', 'Curr4', 'ID']]
df5 = df[['Price 5', 'Curr5', 'ID']]

In [35]:
df1 = df1.rename(columns={'Price 1' : 'Price', 'Curr1' : 'Curr'})
df2 = df2.rename(columns={'Price 2' : 'Price', 'Curr2' : 'Curr'})
df3 = df3.rename(columns={'Price 3' : 'Price', 'Curr3' : 'Curr'})
df4 = df4.rename(columns={'Price 4' : 'Price', 'Curr4' : 'Curr'})
df5 = df5.rename(columns={'Price 5' : 'Price', 'Curr5' : 'Curr'})

In [36]:
newDf = pd.concat([df1, df2, df3, df4, df5]).dropna()

In [37]:
columns = ['id', 'amountMainCurrency', 'mainCurrencyId']

In [38]:
newDf = pd.concat([newDf, pd.DataFrame(columns = columns)])

In [39]:
newDf.rename(columns = {'Price':'amount'}, inplace = True)
newDf.rename(columns = {'Curr':'currencyId'}, inplace = True)

In [40]:
newDf['id'] = [i for i in range(1, newDf.shape[0]+1)]
newDf['amountMainCurrency'] = newDf['amount']
newDf['mainCurrencyId'] = newDf['currencyId'].str.upper()
newDf['ID'] = newDf['ID'].astype(int)
newDf['currencyId'] = newDf['currencyId'].str.upper()

In [41]:
newDf

      amount currencyId    ID    id amountMainCurrency mainCurrencyId
0     350000        IDR     1     1             350000            IDR
1         25        USD     2     2                 25            USD
2     350000        IDR     3     3             350000            IDR
3     450000        IDR     4     4             450000            IDR
4     843000        IDR     5     5             843000            IDR
...      ...        ...   ...   ...                ...            ...
1936       2        USD  1937  8396                  2            USD
1937       5        AED  1938  8397                  5            AED
1938      80        AED  1939  8398                 80            AED
1939       7        AED  1940  8399                  7            AED
1942       4        EUR  1943  8400                  4            EUR

[8400 rows x 6 columns]

In [42]:
newDf.to_csv('out/price.csv', index=False, encoding='utf-8')

In [43]:
copy = newDf.drop(['ID'], axis=1)

In [44]:
copy.to_csv('out/price1.csv', index=False, encoding='utf-8')

In [45]:
copy.shape

(8400, 5)