In [157]:
import pandas as pd

In [158]:
df = pd.read_csv('csv/products.csv', encoding='utf-8')
locDf = pd.read_csv('out/localities.csv', encoding='utf-8')
prodDf = pd.read_csv('out/products.csv', encoding='utf-8')

In [159]:
tempDf = pd.DataFrame(columns=['productId', 'localityId'])

In [160]:
tempDf['productId'] = prodDf['id']

In [161]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()

In [162]:
locDf[:][locDf['name'] == df[:][df['ID'] == int(1)]['Country'].values[0]]['id'].values[0]

6

In [163]:
def set_loc_id(value):
    return locDf[:][locDf['name'] == df[:][df['ID'] == int(value)]['Country'].values[0]]['id'].values[0]

In [164]:
def set_loc_id1(value):
    try:
        return locDf[:][locDf['name'] == df[:][df['ID'] == int(value)]['Region 1'].values[0]]['id'].values[0]
    except:
        return ''

In [165]:
def set_loc_id2(value):
    try:
        return locDf[:][locDf['name'] == df[:][df['ID'] == int(value)]['Region 2'].values[0]]['id'].values[0]
    except:
        return ''

In [167]:
df1['productId'], df1['localityId'] = [tempDf['productId'], tempDf['productId'].apply(set_loc_id)]

In [168]:
df2['productId'], df2['localityId'] = [tempDf['productId'], tempDf['productId'].apply(set_loc_id1)]
df3['productId'], df3['localityId'] = [tempDf['productId'], tempDf['productId'].apply(set_loc_id2)]

In [169]:
df1 = df1[:][df1['localityId'] != '']
df2 = df2[:][df2['localityId'] != '']
df3 = df3[:][df3['localityId'] != '']

In [170]:
df4 = newDf = pd.concat([df1, df2, df3])

In [171]:
df4

      productId localityId
0             1          6
1             2          6
2             3          6
3             4          6
4             5          6
...         ...        ...
1480       1481        224
1488       1489        224
1491       1492        228
1525       1526         52
1536       1537         52

[3783 rows x 2 columns]

In [172]:
df4 = df4[:][(df4['localityId'] != '') & (df4['productId'] != '')]

In [173]:
df4.shape

(3783, 2)

In [174]:
df4.to_csv('out/product_localities.csv', index=False, encoding='utf-8')