In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv/products.csv', encoding='utf-8', delimiter=';')
catDf = pd.read_csv('out/category.csv', encoding='utf-8')
prodDf = pd.read_csv('out/products.csv', encoding='utf-8')

In [16]:
catDf

,name,id,createdDate,updatedDate,statusId,image,color,order,internalNote
0,Adventures,1,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-fire,text-orange,1,NaN
1,Transport,2,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-bus,text-purple,2,NaN
2,Museums & Sights,3,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-hotel,text-greenGrass,3,NaN
3,WIFI & SIM,4,2022-05-29 19:52:26,2022-05-29 19:52:26,7,fa-sim-card,text-gold,4,NaN

In [3]:
tempDf = pd.DataFrame(columns=['productId', 'categoryId'])
tempDf1 = pd.DataFrame(columns=['productId', 'categoryId'])

In [4]:
def set_category_product(value):
    try:
        return catDf[:][catDf['name'] == df[:][df['Name'] == str(value)]['Category 1'].values[0]]['id'].values[0]
    except:
        return ''

In [5]:
def set_category2(value):
    try:
        return catDf[:][catDf['name'] == df[:][df['Name'] == str(value)]['Category 2'].values[0]]['id'].values[0]
    except:
        return ''

In [6]:
def set_product(value):
    try:
        return prodDf[:][prodDf['name'] == df[:][df['Name'] == str(value)]['Name'].values[0]]['id'].values[0]
    except:
        return ''

In [7]:
tempDf["categoryId"] = df["Name"].apply(set_category_product)
tempDf["productId"] = df["Name"].apply(set_product)

In [8]:
tempDf1["categoryId"] = df["Name"].apply(set_category2)
tempDf1["productId"] = df["Name"].apply(set_product)

In [9]:
newDf = pd.concat([tempDf, tempDf1])

In [10]:
newDf = newDf.drop_duplicates()

In [11]:
newDf = newDf[:][(newDf['categoryId'] != '') & (newDf['productId'] != '')]

In [13]:
newDf.to_csv('out/product_categories.csv', index=False, encoding='utf-8')

In [14]:
newDf.shape

(1876, 2)